<form class="ui stacked segment form" action="/stations/${_station.id}/addreading" method="POST">
    <label><h3>Add New Reading</h3></label>
    <div class="two fields">
        <div class="field">
            <label>Code</label>
            <input placeholder="000" type="number" name="code">
        </div>
        <div class="field">
            <label>Temp</label>
            <input placeholder="0.0c" type="number" step="0.1" name="temperature">
        </div>
        <div class="field">
            <label>WindSpeed</label>
            <input placeholder="0.0kMh" type="number" step="0.1" name="windSpeed">
        </div>
        <div class="field">
            <label>WindDirection</label>
            <input placeholder="000deg" type="number" step ="0.01" name="windDirection">
        </div>
        <div class="field">
            <label>Pressure</label>
            <input placeholder="0000hPa" type="number" name="pressure">
        </div>
    </div>
    <button class="ui blue submit button">Submit Report</button>
</form>