<form class="ui stacked segment form" action="/dashboard/addstation" method="POST">

    <div class="two fields">
        <div class="field">
            <label>Station</label>
            <input placeholder="Station" type="text" name="name">
        </div>
        <div class="field">
            <label>Latitude</label>
            <input placeholder="00.0000" type="number" step="0.000001" name="latitude">
        </div>
        <div class="field">
            <label>Longitude</label>
            <input placeholder="00.0000" type="number" step="0.00001" name="longitude">
        </div>
    </div>
    <button class="ui blue submit button">Add Station</button>
</form>