#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<section class="ui center aligned middle aligned segment">
  <p>
    WeatherTop Inc. produce a modular weather station called the WeatherTop 1000.
    <br>This low cost device takes a set of meteorological readings and displays these on a simple LCD
    display.
    <br>WeatherTopV4.0 is a Web companion application for the device.
    <br>
    <br><img class="ui middle aligned image" src="/public/images/weatherTopLotr.jpg">
</section>