#{extends 'main.html' /}
#{set title:'Start' /}

#{welcomemenu id:"start"/}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to WeatherTopV4.0
  </h1> 
  <p>
    A small app to let you compose stations. This app will allow you to create, manage and share your stations. Simple enter the station details one the dashboard.
  <h4>    Please Signup or Login using the menu above</h4>

  <img class="ui middle aligned large image" src="/public/images/weatherTop.png">

  </p>
</section>
